<%- include("./partials/adminPartials/login_register_top.ejs") %> 
<main class="container">
    <div class="widget">
      <h3>Forgot password</h3>
<% if (forgotPasswordPage) { %>
          <form action="" method="POST">
            <div class="box">
              <label for="password">Password :</label>
              <div>
                <input type="password" name="password" id="password" required />
              </div>
              <span class="error dn">Password must contain uppercase ,lowercase letters and numbers and symbols</span>
            </div>
            <div class="box">
              <label for="confirmPassword">Confirm Password :</label>
              <div>
                <input type="password" id="confirmPassword" required/>
              </div>
              <span class="error dn">Check Your Password</span>
            </div>

            <button id="submitBtn" type="submit">Forgot password</button>
          </form>
<% } else { %>
          <% if(failedUserEmail){ %>
            <span style="color:#ff0018 " class="show-top-error">This email is not exist</span>
        <% } %>
          <form action="/admin/login/forgot-password" method="POST">
            <div class="box">
              <label for="email">Email :</label>
              <input type="email" value="<%= failedUserEmail %>" name="email" id="email" required />
            </div>
            <div class="forgotPassword">
                Did you remember your password?
              <a href="/admin/login"> Login</a>
            </div>
            <button type="submit">Forgot password</button>
          </form>

<% } %>
</div>
</main>
<%- include("./partials/adminPartials/login_register_bottom.ejs") %> 
